{% extends 'student/st_base.html' %}
{% load static %}
{% block content %}
<div class="content-section">  
    <form method="POST">
        <h3>Please enter your new password.</h3>
        {% csrf_token %}
        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
        {{ form.as_p }}      
        <button class="btn btn-outline-info" type="submit">Reset password</button>
    </form>
</div>
{% endblock content %}