{% extends 'teachers/tr_base.html' %}
{% load static %}

{% block title %}
Teacher Home
{% endblock title %}
<div class="tr_home_bg">
{% block content %}
<style>
   
    body{
      background-color: forestgreen;
    }  
    
  </style>
<div>
   <h1 class="tr_head"> Teacher Home</h1>
</div>
<div>
    <p class="tr_para">'' Martin Luther King, Jr. ''<br>
        "The function of education is to teach one to think intensively and to think critically. Intelligence plus character—that is the goal of true education."</p>
       
    </div>

{% endblock  %}

</div>