<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Send Messages</title>
<style>
    
    .msgform{
        margin-left: 500px;
    }
</style>

  </head>
  <body>
    <form method="post" class="msgform">
       {% csrf_token %} 
  <h1>send Yur message</h1>
      <div class="tr_msg">
        <label>Entermessage</label><br>
        {{ form.message_content}}</div>
        <label>Recipient</label><br>
        {{ form.reciever}}</div><br><br>

  
  

      <button type="submit">send</button>
    </form>
  </body>
</html>
