{% extends 'admin/admin_base.html' %}
{% load static %}
{% block title %}ResetPassword{% endblock %}


{% block content %}
<style>  
    .form_changepass{
        margin-left: 600px;
    }
    .form-group{
        width: 500px;
        height: 50px;
    }
    input[type='text']{
        width:400px;
        height: 50px;
        border-radius: 10px;}
    form{
        border: 1px solid rgb(30, 30, 10);
        width: 700px;
        margin-top: 200px;
        height: 380px;
        padding: 50px;
        box-shadow: 15px 40px 30px black;
        border-radius: 30px;
    }
    button{
        margin-left: 160px;
        margin-top: 30px;
    }
</style>
    <div class="content-section">       
        <form method="POST" class="form_changepass">
            {% csrf_token %}
            <p><h1>Please enter your new password.</h1></p>
            {% for field in form %}
            <div class="form-group">
                {{field.label}}
                {{field}}
            </div>
            {% if field.errors %}
            <div class="alert alert-danger">
                {{field.errors}}</div>
                {% endif %}
            {% endfor %}
          <button type="submit" class="btn btn-outline-info btn-lg">Change Password</button>
    </div>
  
{% endblock %}