{% extends 'admin/admin_base.html' %} {% load static %} {% block title %}
AdminHome {% endblock title %} {% block content %}
<h1 class="admin_h">AdminHome</h1>
<div class="admin">
  <p>
    Brene Brown, author and researcher: "To me, a leader is someone who holds
    her- or himself accountable for finding potential in people and processes."
    Cornel West, philosopher and author: “You can't lead the people if you don't
    love the people. You can't save the people if you don't serve the people.”
    Albert Einstein, German-born theoretical physicist: “We cannot solve our
    problems with the same thinking we used when we created them.” Elena Kagan,
    Associate Justice of the Supreme Court of the United States: “I've led a
    school whose faculty and students examine and discuss and debate every
    aspect of our law and legal system. And what I've learned most is that no
    one has a monopoly on truth or wisdom.”
  </p>
</div>
{% endblock %}
