{% extends 'base.html' %} {% block title %}About Us Page {% endblock %} 
{% block content %}
<h1>About Us</h1>
<p class='aboutuspara'>
  Beginning with cognitive load theory as their motivating scientific premise,
  researchers such as Richard E. Mayer, John Sweller, and Roxana Moreno
  established within the scientific literature a set of multimedia instructional
  design principles that promote effective learning.Many of these principles
  have been "field tested" in everyday learning settings and found to be
  effective there as well.The majority of this body of research has been
  performed using university students given relatively short lessons on
  technical concepts with which they  held low prior knowledge.However, David
  Roberts has tested the method with students in nine social science disciplines
  including sociology, politics and business studies. His longitudinal research
  programme over 3 years established a clear improvement in levels of student
  engagement and in the development of active learning principles among students
  exposed to a combination of images and text, over students exposed only to
  text.A number of other studies have shown these principles to be effective
  with learners of other ages and with non-technical learning content.
</p>
{% endblock %}
